/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

div[data-hook='order_version'] ul{
  padding-left: 20px;
}

div[data-hook='order_version'] table[data-hook="product_version"] table{
  margin-bottom: 0;
}


div[data-hook='order_version'] table[data-hook="product_version"] table th:first-child,
div[data-hook='order_version'] table[data-hook="product_version"] table td:first-child{
  border-left: 0px;
}

div[data-hook='order_version'] table[data-hook="product_version"] table th:last-child,
div[data-hook='order_version'] table[data-hook="product_version"] table td:last-child{
  border-right: 0px;
}

div[data-hook='order_version'] table[data-hook="product_version"] table tbody tr:first-child th,
div[data-hook='order_version'] table[data-hook="product_version"] table tbody tr:first-child td{
  border-top: 0px;
}
div[data-hook='order_version'] table[data-hook="product_version"] table tbody tr:last-child th,
div[data-hook='order_version'] table[data-hook="product_version"] table tbody tr:last-child td{
  border-bottom: 0px;
}

div[data-hook='order_version'] table[data-hook="product_version"] .table-inside{
  padding: 0px;
}
